
//Tipografía ===============================================
$base-font: 'Source Sans Pro', sans-serif;
$headings-font: 'Source Serif Pro', sans-serif;


//Color=====================================================
$white-color: #fff;
$back-color:#E5E5E5;
$font-color:#636363;